*{margin: 0;
padding: 0;
box-sizing: border-box;}


#blogcontainer{
    padding-top: 20px;
    padding-left: 10px;
}

 .blogh1{
padding-top: 10px;

}
 .blogh2{

padding-top: 10px;
    color: cornflowerblue;
    font-style: oblique;
    padding-bottom: 5px;
}
.blogp{
padding-top: 10px;
padding-bottom: 4px;
color: #545444
}

.blogbtn{
    padding: 4px;
    background-color: rgb(60, 60, 216);
    color: white;
    border-radius: 5px;
}